table {
  border-collapse: collapse;
  width: 100%;
   border: 1px solid black;
}

td {
  text-align: left;
  padding: 8px;
   border: 1px solid black;
}
th{
  text-align: center;
  padding: 8px;
   border: 1px solid black;
}




h3 {
  color: green;
}

h2 {
  color: red;
}
